@using System.Security.Claims
@model WhereToEat.Models.RestaurantRegisterModel

@{
    ViewData["Title"] = "RestaurantRegister";
}

<h1>Restaurant Registration</h1>

<form method="post" enctype="multipart/form-data">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="RestaurantName" class="control-label">Restaurant Name</label>
            <input type="text" class="form-control" asp-for="RestaurantName" required>
            <span class="text-danger" asp-validation-for="RestaurantName"></span>
        </div>
        <input type="hidden" asp-for="OwnerId" class="form-control" value="@(Context.User.FindFirstValue("Id"))">
        <div class="form-group">
            <label asp-for="ZipCode">Zip Code</label>
            <input type="number" class="form-control" asp-for="ZipCode" required>
            <span class="text-danger" asp-validation-for="ZipCode"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input type="text" class="form-control" asp-for="City" required>
            <span class="text-danger" asp-validation-for="City"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input type="text" class="form-control" asp-for="Address" required>
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <input type="file" class="form-control-file" asp-for="Image">
        </div>
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>


